
@{
    ViewBag.Title = "SaleInvoiceReturn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">

    $(document).ready(function () {
        var now = new Date();

        var day = ("0" + now.getDate()).slice(-2);

        var month = ("0" + (now.getMonth() + 1)).slice(-2);

        var today = now.getFullYear() + "-" + (month) + "-" + (day);

        $('#InvoiceDate').val(today);
        $("#printBtn").prop("disabled", true);
    });
    // add to Cart List
    var cartList = [];


    //load customer list
    $(function () {
        var ddlCustomers = $("#ddlCustomers");
        ddlCustomers.empty().append('<option selected="selected" value="0" disabled = "disabled">Loading.....</option>');
        var ddlItemList = $("#ddlItemList");

        $("#progressBar").hide();
        ddlItemList.empty().append('<option selected="selected" value="0" disabled = "disabled">Loading.....</option>');

        $.ajax({
            type: "Get",
            url: "/Inventory/LoadGridCustomer",
            data: { customerId: 0 },
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                ddlCustomers.empty().append('<option selected="selected" value="0">Please select Customer</option>');
                $.each(response, function () {
                    ddlCustomers.append($("<option></option>").val(this['CustomerId']).html(this['Name']));
                });
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });

         EditInvoice("@ViewBag.Inv");
    });

    function EditInvoice(InvoiceNo) {

        $.ajax({
            type: 'GET',
            url: "/Sales/GetReturnInvoiceByNo",
            datatype: JSON,
            data: { InvoiceNo: InvoiceNo },
            success: function (data) {
                debugger;
                if (data.length > 0) {
                    $("#ddlCustomers").val(data[0].CustomerId);
                var now = new Date(parseInt(data[0].InvoiceDate.substr(6)));
                 var day = ("0" + now.getDate()).slice(-2);
                var month = ("0" + (now.getMonth() + 1)).slice(-2);
                var today = now.getFullYear() + "-" + (month) + "-" + (day);
                $('#InvoiceDate').val(today);
               // $("#InvoiceDate").val(date.getFullYear() + "-" + (month.toString().length > 1 ? month : "0" + month) + "-" + date.getDate());
                $("#InvoiceNo").val(data[0].InvoiceNo);
                getCustomerItems(data[0].CustomerId)
                $('#cartTable tbody').empty();
                var count = 1;
                var TotalAmount = 0;
                $.each(data, function (i, item) {

                    var add1 = new add(item.Quantity, item.Rate, item.Amount, item.ItemName, item.ItemId);
                    cartList[cartList.length] = add1;
                    console.log(cartList);
                    LoadGrid();
                    TotalAmount += parseFloat(item.Amount);
                    count++;
                });
                $('#TotalAmount').val(TotalAmount);
                }

            },
            error: function (data) { }
        });
    }
    function selectedCustomerChangeEvent(sel) {
        //alert(sel.value);
        getCustomerItems(sel.value);
    }
    //Set Defalut Current Date
    //$(function () {
    //    var d = new Date().getDate();
    //    var m = new Date().getMonth() + 1; // JavaScript months are 0-11
    //    var y = new Date().getFullYear();
    //    $("[id$=InvoiceDate]").val(d + "/" + m + "/" + y);
    //    $("[id$=InvoiceDate]").datepicker({ weekStart: 1, dateFormat: 'dd/mm/yy' })


    //});

    //getSelected Customer Items
    function getCustomerItems(customerId) {
        var ddlItemList = $("#ddlItemList");
        ddlItemList.empty().append('<option selected="selected" value="0" disabled = "disabled">Loading.....</option>');
        $.ajax({
            type: 'GET',
            url: "/Inventory/LoadItemsByCustomer",
            datatype: JSON,
            data: { customerId: customerId },
            success: function (response) {
                ddlItemList.empty().append('<option selected="selected" value="0">Please select</option>');
                $.each(response, function () {
                    ddlItemList.append($("<option></option>").val(this['ItemId']).html(this['ItemName'] +'      (Item Code-'+ this['ItemCode']+')') );
                });
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
    }

    //ChangeItemEvent
    function ChangeItemEvent(item) {
         
        $('#Quanity').empty();
        $('#Rate').empty();
        $('#Amount').empty();

        $('#Quantity').val(1);
        $('#Rate').val(0);
        $('#Amount').val(0);
        $('#Rate').focusin();

        $.ajax({
            type: 'GET',
            url: "/Inventory/LoadGridItemByID",
            datatype: JSON,
            data: { ItemID: item.value },
            success: function (data) {
                 
                $("#Rate").val(data[0].SaleRate);
                $("#Amount").val(data[0].SaleRate);
                $('#Quantity').focus().select();
                //$("#btnSave").text('Update');
            },
            error: function (data) { }
        });


    }

    //change Change Rate Event
    function RateChangeEvent(val) {
         
        var Rate = val.value;
        var Quantity = $('#Quantity').val();
        if (Rate > 0 && Quantity>0) {

            var TotalAmount = Quantity * Rate;
            $('#Amount').val(TotalAmount);
        }
    }

    //change Change Quanity Event
    function QuantityChangeEvent(val) {
         
        var Quantity = val.value;
        var Rate = $('#Rate').val();
        if (Quantity > 0 && Rate>0) {

            var TotalAmount = Quantity * Rate;
            $('#Amount').val(TotalAmount);

        }
    }

    // add to Cart List
    function addToCart()
    {
         
        var ItemName = $('#ddlItemList').find('option:selected').text();
        var ItemId = $("#ddlItemList").val();
        var Quantity = $('#Quantity').val();
        var Rate = $('#Rate').val();
        var Amount = $('#Amount').val();
        if (Amount > 0) {
            //var obj = { "Quantity": Quantity, "Rate": Rate, "Amount": Amount };
            var add1 = new add(Quantity, Rate, Amount, ItemName, ItemId);
            cartList[cartList.length] = add1;
            console.log(cartList);
            LoadGrid();
            $('#ddlItemList').val(0);
            $('#ddlItemList').focus().select();

            $('#Quantity').val(0);
            $('#Rate').val(0);
            $('#Amount').val(0);
        }
        else {

        }



    }

    function add(Quantity, Rate, Amount, ItemName, ItemId) {
        this.Quantity = Quantity;
        this.Rate = Rate;
        this.Amount = Amount;
        this.ItemName = ItemName;
        this.ItemId = ItemId;

    }
    //Load Grid
    function LoadGrid() {

        $('#cartTable tbody').empty();
        var TotalAmount = 0;
        for (let i = 0; i < cartList.length; i++) {

            var obj = cartList[i];
             
            var Count = i + 1;
            var rows = "<tr>"
                + "<td >" + Count + "</td>"
                + "<td >" + obj.ItemId + "</td>"
                + "<td >" + obj.ItemName + "</td>"
                + "<td>" + obj.Quantity + "</td>"
                + "<td>" + obj.Rate + "</td>"
                + "<td>" + obj.Amount + "</td>"
                + "<td>" + "<button onclick='DeleteCartItem(" + i + ");' class='btn btn-xs btn-danger'><i class='icon-trash bigger-120'></i></button>"+"</td>"
                + "</tr>";
            $('#cartTable tbody').append(rows);
            TotalAmount += parseFloat( obj.Amount);

        }
        $('#TotalAmount').val(TotalAmount);

    }
    //Delete Item
    function DeleteCartItem (val)
    {
        if (confirm('Are you sure to delete')) {
             
            cartList.splice(val, 1);
            LoadGrid();

        }

    }
    //Save Invoice
    function saveInvoice()
    {
         
        var InvoiceDate= $("#InvoiceDate").val();
        var TotalAmount = $('#TotalAmount').val();
        if (TotalAmount > 0 && InvoiceDate != null && InvoiceDate != "") {
            $("#saveBtn").prop("disabled", true);
            $("#progressBar").show();
            $.ajax(
                {
                    type: "POST", //HTTP POST Method
                    url: "/Sales/SaveReturnSaleInvoice", // Controller/View
                    data: { //Passing data
                        CustomerId: $('#ddlCustomers').val(),
                        InvoiceDate: $("#InvoiceDate").val(),
                        ReturnInvoiceNo: $("#InvoiceNo").val(),
                        CartList: cartList,

                    },
                    success: function (data) {
                        if (data.success) {
                             
                            //oTable = $('#tblSession').DataTable();
                            //oTable.draw();
                            $("#InvoiceNo").val(data.Caseid)

                            $("#progressBar").hide();
                            // $("#saveBtn").prop("disabled", false);
                            AlertNotification();
                            $("#printBtn").prop("disabled", false);

                        } else {
                            alert(data.responseText);
                        }
                    }
                });
        }
        else { AlertError()}
    }
    //reset INvoice
    function resetInoice() {
        $('#cartTable tbody').empty();
        $("#saveBtn").prop("disabled", false);
        $("#ddlCustomers").val('0');
        cartList = [];
        $("#InvoiceNo").val("")
    }
    function AlertNotification() {
        $("#succesfulAlert").show();;
        $("#succesfulAlert").fadeTo(2000, 500).slideUp(500, function () {
            $("#success-alert").slideUp(500);
        });
    }
    function AlertError() {

        $("#errorAlert").show();;
        $("#errorAlert").fadeTo(2000, 500).slideUp(500, function () {
            $("#success-alert").slideUp(500);
        });
    }

    function downloadInvoice() {
        var InfoiceNo = $("#InvoiceNo").val();

        var url = "@Url.Action("ExportInvoiceReport", "Reports")";
        var InvoiceNo = $("#InvoiceNo").val();
        window.open(url + "?InvoiceNo=" + InvoiceNo , '_blank');

        $.ajax({
            type: 'GET',
            url: "/Reports/ExportInvoiceReport",
            datatype: JSON,
            data: { InvoiceNo: InfoiceNo },
            success: function (data) {
                 
                var response = JSON.parse(data);
                window.location = '/Report/Download?fileGuid=' + response.FileGuid
                    + '&filename=' + response.FileName;
            },
            error: function (data) { }
        });


    }
    //getSelected Customer Items

</script>
<div class="row">
    <div class="panel panel-danger">
        <div class="panel-heading">
            <h5>Manage Sale Return Invoice</h5>

        </div>
        <div class="panel-body">
            <div id="succesfulAlert" hidden="hidden" class="alert alert-block alert-success">
                <button type="button" class="close" data-dismiss="alert">
                    <i class="icon-remove"></i>
                </button>
                <p>
                    <strong>
                        <i class="icon-ok"></i>
                        Response!
                    </strong>
                    Save Sucessfuly...;
                </p>

            </div>
            <div id="errorAlert" hidden="hidden" class="alert alert-block alert-danger">
                <button type="button" class="close" data-dismiss="alert">
                    <i class="icon-remove"></i>
                </button>
                <p>
                    <strong>
                        <i class="icon-ok"></i>
                        Attension
                    </strong>
                    Date and Product are requried.!
                </p>

            </div>
            <div class="col-md-12">
                <div class="col-md-4">
                    <div class="form-group col-sm-12">

                        <label class="col-sm-12 control-label no-padding-right" for="form-field-1">To Customer </label>
                        <select class="form-control col-sm-12" id="ddlCustomers" onchange="selectedCustomerChangeEvent(this);">
                        </select>

                    </div>
                </div>
                <div class="col-md-4"></div>

                <div class="col-md-2">
                    <div class="form-group col-sm-12">
                        <label class="col-sm-12 control-label no-padding-right" for="form-field-1">Invoice Date </label>
                        <input type="date" id="InvoiceDate" placeholder="Invoice Date" class="form-control hasDatepicker col-md-12">

                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group col-sm-12">
                        <label class="col-sm-12 control-label no-padding-right" for="form-field-1">Invoice </label>
                        <input disabled type="text" id="InvoiceNo" placeholder="Invoice No" class="form-control">

                    </div>
                </div>

                <div class="=row">
                    <div class="col-md-4 col-sm-12">
                        <div class="form-group col-sm-12">
                            <label class="col-sm-12 control-label no-padding-right" for="form-field-1">Choose Product </label>
                            <select class="form-control" id="ddlItemList" onchange="ChangeItemEvent(this);">
                            </select>

                        </div>
                    </div>
                    <div class="col-md-2 col-sm-12">
                        <div class="form-group col-sm-12">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Quanity </label>
                            <input type="number" onchange="QuantityChangeEvent(this);" id="Quantity" placeholder="Quanity" class="form-control col-sm-12">

                        </div>
                    </div>
                    <div class="col-md-2 col-sm-12 col-sm-12">
                        <div class="form-group col-sm-12">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Rate </label>
                            <input type="number" onchange="RateChangeEvent(this);" id="Rate" placeholder="Rate" class="form-control col-sm-12">

                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group col-sm-12">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Amount </label>

                            <input disabled type="number" id="Amount" placeholder="Amount" class="form-control col-sm-12 ">

                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group col-sm-12">
                            <label style="color:white" class="col-sm-3 control-label no-padding-right" for="form-field-1">Amount </label>
                            <button onclick="addToCart();" class="btn btn-info btn-block">Add</button>

                        </div>
                    </div>

                </div>


                <hr />
                <div class="col-md-12">
                    <table id="cartTable" class="table  table-bordered table-hover">
                        <thead>
                            <tr>

                                <th>Sr No</th>
                                <th>Item No</th>
                                <th>Item Details</th>
                                <th>Quantity</th>
                                <th>Rate</th>
                                <th>Amount</th>
                                <th>Action</th>
                            </tr>
                        </thead>

                        <tbody>
                        </tbody>
                    </table>
                </div>
                <hr />
                <br />
                <div class="col-md-12 text-right">
                    <fieldset>
                        <strong>Total Amount</strong>
                        <input disabled id="TotalAmount" type="number" placeholder="0…">
                    </fieldset>
                </div>

                <br />
                <br />
                <br />
                <br />
                <hr />

            </div>

        </div>


        <div class="panel-footer">
            <div class="row">
                <div class="col-md-2">
                    <button onclick="resetInoice();" class="btn btn-warning btn-block">

                        Reset
                    </button>
                </div>
                <div class="col-md-8"></div>
                <div class="col-md-2">
                    <button id="saveBtn" onclick="saveInvoice();" class="btn btn-danger btn-block">
                        <i id="progressBar" hidden="true" class="icon-spinner icon-spin  bigger-125"></i>
                        Submit
                    </button>
                </div>
                @*<div class="col-md-2">

                    <button id="printBtn" onclick="downloadInvoice();" class="btn btn-success btn-block">

                        Print
                    </button>
                   
                </div>*@
            </div>
        </div>
    </div>
</div>

