
@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model OnlineInventory.Models.UserLoginModel
<h2>Manage Customers</h2>
<hr />
<div class="col-sm-12">

    

    <div class="=row">
        <div class="col-md-6">
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Name </label>
                <input type="text" id="form-field-1-1" placeholder="Customer Name" class="form-control">

            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Mobile </label>
                <input type="text" id="form-field-1-1" placeholder="Mobile" class="form-control">

            </div>
        </div>

    </div>

    <div class="=row">
        <div class="col-md-6">
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Phone </label>
                <input type="text" id="form-field-1-1" placeholder="Phone" class="form-control">

            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Address </label>
                <input type="text" id="form-field-1-1" placeholder="Address" class="form-control">

            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-8"></div>
            <div class="col-md-2"><button class="btn btn-danger btn-block">Delete</button></div>

            <div class="col-md-2">
                <button class="btn btn-info btn-block">Submit</button>
            </div>
        </div>
    </div="">




</div>
