
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">

    function func_validate() {
         
        var chk = 0;

        var ItemName = document.getElementById('Password');
        var NewPassword = document.getElementById('NewPassword');
        if (ItemName.value == "" || NewPassword.value == "") {
            ItemName.style.border = "2px solid red";
            NewPassword.style.border = "2px solid red";
            chk = 1;
        }
        else {
            ItemName.style.border = "1px solid #ccc";
            NewPassword.style.border = "1px solid #ccc";
        }
        //------------------ finally ------------------------------
        if (chk != 0)
            return false;
        else
            return true;
    }
    $.ajax(
        {
            type: "GET", //HTTP POST Method
            url: "/UserAccount/GetLoginUserId",
         
            success: function (data) {
                 
                $("#UserName").val(data[0].UserName);
                $("#LoginId").val(data[0].LoginId);
            }
        });
    function AlertNotification(responseText) {
        $("#succesfulAlert").show();;
        $('#errorAlert').html("<div class='alert alert-error'>" + responseText + "</div>");
        $("#succesfulAlert").fadeTo(2000, 500).slideUp(500, function () {
            $("#success-alert").slideUp(500);
        });
    }
    function AlertError(responseText) {

        $("#errorAlert").show();;
        $('#errorAlert').html("<div class='alert alert-error'>" + responseText + "</div>");
        $("#errorAlert").fadeTo(2000, 500).slideUp(500, function () {
            $("#success-alert").slideUp(500);
        });
    }
    function updatePassword() {
        if (func_validate() == false) {
            return;
        }
        $.ajax(
            {
                type: "POST", //HTTP POST Method
                url: "/UserAccount/UpdatePassword", // Controller/View
                data: { //Passing data
                    LoginId: $("#LoginId").val(),
                    Password: $("#Password").val(),
                    NewPassword: $("#NewPassword").val(),
                   
                },
                success: function (data) {
                     
                    if (data.success) {
                        
                        //oTable = $('#tblSession').DataTable();
                        //oTable.draw();
                        AlertNotification(data.responseText);
                   
                    } else {
                        AlertError(data.responseText);
                    }
                }
            });
    }
    </script>
<div class="panel-info">
   <div class="panel-heading">
       <h6>Manage User Password</h6>
   </div>
   <div class="panel-body">
       <div id="succesfulAlert" hidden="hidden" class="alert alert-block alert-success">
           <button type="button" class="close" data-dismiss="alert">
               <i class="icon-remove"></i>
           </button>
           <p>
               <strong>
                   <i class="icon-ok"></i>
                   Response!
               </strong>
               Save Sucessfuly...;
           </p>

       </div>
       <div id="errorAlert" hidden="hidden" class="alert alert-block alert-danger">
         

       </div>
       <input type="hidden" id="LoginId" placeholder="Customer Name" class="form-control col-xs-10 col-sm-5">
       <div class="row">
           <div class="col-md-3"></div>
           <div class="col-md-6">
               <div class="form-group">
                   <label>User Name</label>
                   <input disabled type="text" id="UserName" placeholder="User Name" class="form-control col-xs-10 col-sm-5">

               </div>
           </div>
           <div class="col-md-3"></div>
       </div>
       <div class="row">
           <div class="col-md-3"></div>
           <div class="col-md-6">
               <div class="form-group">
                   <label>Current Password</label>
                   <input type="password" id="Password" placeholder="Current Password" class="form-control col-xs-10 col-sm-5">

               </div>
           </div>
           <div class="col-md-3"></div>
       </div>
       <div class="row">
           <div class="col-md-3"></div>
           <div class="col-md-6">
               <div class="form-group">
                   <label>New Password</label>
                   <input type="password" id="NewPassword" placeholder="New Password" class="form-control col-xs-10 col-sm-5">

               </div>
           </div>
           <div class="col-md-3"></div>
       </div>
       <br />


   </div>
   <div class="panel-footer text-right">
       <button onclick="updatePassword()" class="btn btn-danger btn-default">Change Password</button>
   </div>
</div>

